In [44]:
import pandas as pd

In [45]:
df= pd.read_csv('../data/owid-covid-data.csv')
df.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
250846,ZMB,Africa,Zambia,31/03/2020,35.0,0.0,4.571,NaN,NaN,NaN,...,24.7,13.938,2.0,63.89,0.584,20017670.0,NaN,NaN,NaN,NaN
250847,ZMB,Africa,Zambia,01/04/2020,36.0,1.0,3.429,NaN,NaN,NaN,...,24.7,13.938,2.0,63.89,0.584,20017670.0,NaN,NaN,NaN,NaN
250848,ZWE,Africa,Zimbabwe,20/03/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
250849,ZWE,Africa,Zimbabwe,21/03/2020,3.0,2.0,NaN,NaN,NaN,NaN,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
250850,ZWE,Africa,Zimbabwe,22/03/2020,3.0,0.0,NaN,NaN,NaN,NaN,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [46]:
df_new = pd.DataFrame(columns=["continent", "location", "total_cases", "population_density"])
df_new= df.groupby(['continent', 'location'])['total_cases', 'population_density', 'total_deaths_per_million'].max().reset_index()
df_new

C:\Users\clara\AppData\Local\Temp\ipykernel_18348\216430804.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_new= df.groupby(['continent', 'location'])['total_cases', 'population_density', 'total_deaths_per_million'].max().reset_index()

,continent,location,total_cases,population_density,total_deaths_per_million
0,Africa,Algeria,271292.0,17.348,153.241
1,Africa,Angola,105095.0,23.890,54.230
2,Africa,Benin,27989.0,99.110,12.207
3,Africa,Botswana,328760.0,4.044,1093.411
4,Africa,Burkina Faso,22025.0,70.151,17.465
...,...,...,...,...,...
230,South America,Paraguay,800163.0,17.144,2912.069
231,South America,Peru,4475610.0,25.129,6418.492
232,South America,Suriname,82020.0,3.612,2261.968
233,South America,Uruguay,1029564.0,19.751,2219.530
234,South America,Venezuela,551024.0,36.253,206.242

In [47]:
df_new=df_new.dropna()

In [48]:
df_new

,continent,location,total_cases,population_density,total_deaths_per_million
0,Africa,Algeria,271292.0,17.348,153.241
1,Africa,Angola,105095.0,23.890,54.230
2,Africa,Benin,27989.0,99.110,12.207
3,Africa,Botswana,328760.0,4.044,1093.411
4,Africa,Burkina Faso,22025.0,70.151,17.465
...,...,...,...,...,...
230,South America,Paraguay,800163.0,17.144,2912.069
231,South America,Peru,4475610.0,25.129,6418.492
232,South America,Suriname,82020.0,3.612,2261.968
233,South America,Uruguay,1029564.0,19.751,2219.530
234,South America,Venezuela,551024.0,36.253,206.242

In [53]:
df_new=df_new.replace('United States','United States of America')
df_new=df_new.replace('Democratic Republic of Congo','Democratic Republic of the Congo')
df_new=df_new.replace('Congo','Republic of Congo')
df_new=df_new.replace("Cote d'Ivoire",'Ivory Coast')
df_new=df_new.replace("Guinea-Bissau",'Guinea Bissau')
df_new=df_new.replace("Tanzania",'United Republic of Tanzania')
df_new=df_new.replace("Eswatini",'Swaziland')
df_new=df_new.replace("Serbia",'Republic of Serbia')
df_new=df_new.replace("North Macedonia",'Macedonia')
df_new=df_new.replace("Czechia",'Czech Republic')

In [56]:
df_new.to_csv("../data_clean/viz1.csv")