In [41]:
import pandas as pd
import math
import json

In [3]:
covid_df = pd.read_csv('owid-covid-data.csv')
covid_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,OWID_WRL,NaN,World,17/01/2023,667430325.0,337960.0,340985.714,6726367.0,1872.0,2006.143,...,34.635,60.130,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
1,OWID_WRL,NaN,World,16/01/2023,667092365.0,212846.0,353027.286,6724495.0,1198.0,2213.143,...,34.635,60.130,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
2,OWID_WRL,NaN,World,15/01/2023,666879519.0,195295.0,374228.571,6723297.0,814.0,2336.429,...,34.635,60.130,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
3,OWID_WRL,NaN,World,14/01/2023,666684224.0,220748.0,391796.857,6722483.0,899.0,2343.857,...,34.635,60.130,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
4,OWID_WRL,NaN,World,13/01/2023,666463476.0,440030.0,411731.429,6721584.0,2860.0,2333.286,...,34.635,60.130,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250846,ZMB,Africa,Zambia,31/03/2020,35.0,0.0,4.571,NaN,NaN,NaN,...,24.700,13.938,2.000,63.89,0.584,2.001767e+07,NaN,NaN,NaN,NaN
250847,ZMB,Africa,Zambia,01/04/2020,36.0,1.0,3.429,NaN,NaN,NaN,...,24.700,13.938,2.000,63.89,0.584,2.001767e+07,NaN,NaN,NaN,NaN
250848,ZWE,Africa,Zimbabwe,20/03/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,30.700,36.791,1.700,61.49,0.571,1.632054e+07,NaN,NaN,NaN,NaN
250849,ZWE,Africa,Zimbabwe,21/03/2020,3.0,2.0,NaN,NaN,NaN,NaN,...,30.700,36.791,1.700,61.49,0.571,1.632054e+07,NaN,NaN,NaN,NaN
250850,ZWE,Africa,Zimbabwe,22/03/2020,3.0,0.0,NaN,NaN,NaN,NaN,...,30.700,36.791,1.700,61.49,0.571,1.632054e+07,NaN,NaN,NaN,NaN

In [79]:
hospital_df = pd.read_csv('current-covid-patients-hospital.csv')
hospital_df_count = hospital_df.groupby('Day')['Daily hospital occupancy'].sum()
hosp_count = int(hospital_df_count['2022-12-31'])
print(hosp_count)

119261

In [80]:
icu_df = pd.read_csv('current-covid-patients-icu.csv')
icu_df_group = icu_df.groupby('Day')['Daily ICU occupancy'].sum()
icu_count = int(icu_df_group['2022-12-31'])
print(icu_count)

9995

In [8]:
latest_country_data = covid_df.groupby('location')['date'].max()

useful_data = pd.merge(covid_df, latest_country_data, on=['location', 'date'], how='inner')

useful_data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,OWID_WRL,NaN,World,31/12/2022,660369037.0,265710.0,500886.000,6691920.0,733.0,1734.857,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
1,OWID_HIC,NaN,High income,31/12/2022,418285181.0,244842.0,431450.429,2788269.0,578.0,1376.571,...,NaN,NaN,NaN,NaN,NaN,1.250515e+09,NaN,NaN,NaN,NaN
2,OWID_UMC,NaN,Upper middle income,31/12/2022,142782994.0,17041.0,64477.286,2511913.0,100.0,308.714,...,NaN,NaN,NaN,NaN,NaN,2.525921e+09,NaN,NaN,NaN,NaN
3,OWID_EUR,NaN,Europe,31/12/2022,244917298.0,14182.0,92361.857,2002222.0,140.0,543.000,...,NaN,NaN,NaN,NaN,NaN,7.448078e+08,NaN,NaN,NaN,NaN
4,OWID_NAM,NaN,North America,31/12/2022,119218041.0,9096.0,60089.857,1552069.0,29.0,390.429,...,NaN,NaN,NaN,NaN,NaN,6.003237e+08,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,TUV,Oceania,Tuvalu,31/12/2022,2805.0,0.0,0.000,NaN,NaN,NaN,...,NaN,NaN,NaN,67.57,NaN,1.133500e+04,NaN,NaN,NaN,NaN
244,VIR,North America,United States Virgin Islands,31/12/2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,80.58,NaN,9.947900e+04,NaN,NaN,NaN,NaN
245,VAT,Europe,Vatican,31/12/2022,29.0,0.0,0.000,NaN,NaN,NaN,...,NaN,NaN,NaN,75.12,NaN,8.080000e+02,NaN,NaN,NaN,NaN
246,OWID_WLS,Europe,Wales,31/12/2022,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.170000e+06,NaN,NaN,NaN,NaN
247,ESH,Africa,Western Sahara,20/04/2022,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,70.26,NaN,5.760050e+05,NaN,NaN,NaN,NaN

In [75]:
out = useful_data[useful_data['location'].isin(['Asia', 'Africa', 'Europe', 'North America', 'South America', 'Oceania'])][['location', 'population', 'total_deaths', 'total_cases']]

In [77]:
total_cases = int(out['total_cases'].sum())
print(total_cases)

660368316

In [81]:
links = []
nodes = []

i = 0

nodes.append({'node': i, 'name': 'healthy'})
health_id = i
i += 1

nodes.append({'node': i, 'name': 'contaminated'})
cont_id = i
i += 1
        
nodes.append({'node': i, 'name': 'dead'})
dead_id = i
i += 1

for index, row in out.iterrows():
    nodes.append({'node': i, 'name': row['location']})
    loc_id = i
    i += 1
    
    if not math.isnan(row['population']):
        
        if not math.isnan(row['total_cases']):
            
            links.append({
                'source': loc_id,
                'target': cont_id,
                'value': int(row['total_cases'])
            })

        if not math.isnan(row['total_deaths']):
            
            links.append({
                'source': loc_id,
                'target': dead_id,
                'value': int(row['total_deaths'])
            })

        links.append({
            'source': loc_id,
            'target': health_id,
            'value': int(row['population'] - 
                (row['total_deaths'] if not math.isnan(row['total_deaths']) else 0) - 
                (row['total_cases'] if not math.isnan(row['total_cases']) else 0))
        })
        
nodes.append({'node': i, 'name': 'At home'})
links.append({
    'source': cont_id,
    'target': i,
    'value': total_cases - icu_count - hosp_count
})
i += 1

nodes.append({'node': i, 'name': 'At Hospital'})
links.append({
    'source': cont_id,
    'target': i,
    'value': hosp_count
})
i += 1

nodes.append({'node': i, 'name': 'ICU'})
links.append({
    'source': cont_id,
    'target': i,
    'value': icu_count
})
i += 1

output = {
    'nodes': nodes,
    'links': links
}

# Output to json
jsonString = json.dumps(output)
with open("sankley.json", "w") as file:
    file.write(jsonString)